<%- include('../partials/header') %>

<h3><%= skill.skill %></h3>
<h3>Understood: <%= skill.understood ? 'Yes' : 'No' %></h3>
<a href="/skills/<% skill.id %>/edit">Edit Skill</a>
<form
  action="/skills/<%= skill.id %>?_method=DELETE"
  method="post"
  class="delete-form"
>
  <button type="submit">X</button>
</form>
<%- include('../partials/footer') %>
